@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.wholePage{
    background-color: #FFF;
    padding: 100px 15px 100px 15px;
    border-radius: 20px;
}

.welcome{
    padding-right: 40px;
    color: #004643;
    font-family: 'Lato';
}

.GrassHopper{
    width : 300px;
    height: auto;
    /* padding-right: 30px; */
}

.inputContainer{
    padding-top: 20px;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
    margin-left: 20px;
}

.inputContainer input{
    border: 0;
    background: transparent;
    color: #004643;
    font-size: 18px; 
    padding-left: -30px;
    font-family: 'Lato';
}

.alignSignUp{
    display: flex;
    justify-content: center;
}

.SignUp{
    margin-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #004643;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 800;
    font-size: 16px;
}


